# Scifi Book Data Collection

In [2]:
import os
import requests
import json
import pandas as pd
import numpy as np
import pprint as pp

In [3]:
# # Import SQLAlchemy `automap` and other dependencies here
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, inspect, func, MetaData,Table, Column, Integer, String
# from sqlalchemy.ext.declarative import declarative_base
# Base = declarative_base()

Get all the files and combine

In [4]:
# get a list of the data files stored in a directory
from os import listdir
from os.path import isfile, join

mypath = ("./Resources")
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles

['sf_aliens.csv',
 'sf_alternate_history.csv',
 'sf_alternate_universe.csv',
 'sf_apocalyptic.csv',
 'sf_cyberpunk.csv',
 'sf_dystopia.csv',
 'sf_hard.csv',
 'sf_military.csv',
 'sf_robots.csv',
 'sf_space_opera.csv',
 'sf_steampunk.csv',
 'sf_time_travel.csv']

In [5]:
allBooks = pd.DataFrame()
allBooks.head()

Empty DataFrame
Columns: []
Index: []

In [6]:
book_df = pd.read_csv(mypath+'/'+onlyfiles[0])

In [7]:
list(book_df.columns.values.tolist())

['Book_Title',
 'Original_Book_Title',
 'Author_Name',
 'Edition_Language',
 'Rating_score',
 'Rating_votes',
 'Review_number',
 'Book_Description',
 'Year_published',
 'Genres',
 'url']

In [8]:
allBooks = pd.DataFrame(columns = list(book_df.columns.values.tolist()))
allBooks.head()

Empty DataFrame
Columns: [Book_Title, Original_Book_Title, Author_Name, Edition_Language, Rating_score, Rating_votes, Review_number, Book_Description, Year_published, Genres, url]
Index: []

In [8]:
inputFileDir = "./Resources/"
spec_chars = ["!",'"',"#","%","&","(",")","'",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]

for file in (onlyfiles):
    currFilePath = inputFileDir + file
    subGenre = file.split('.')[0]
    print(subGenre)
    book_df = pd.read_csv(currFilePath)
    #append column of subgenre
    book_df['subgenre'] = subGenre   
    #book_df['Book_Description'] = book_df['Book_Description'].str.replace(',', ' ')
    for char in spec_chars:
        book_df['Book_Description']  = book_df['Book_Description'] .str.replace(char, ' ')
    allBooks = allBooks.append(book_df)

sf_aliens
sf_alternate_history
sf_alternate_universe
sf_apocalyptic
sf_cyberpunk
sf_dystopia
sf_hard
sf_military
sf_robots
sf_space_opera
sf_steampunk
sf_time_travel

In [1]:
allBooks.count()
allBooks = allBooks[allBooks['Edition_Language'] == "English"]

SyntaxError: invalid syntax (<ipython-input-1-f0fbadba6584>, line 2)

In [10]:
allBooks = allBooks.drop_duplicates(subset=['Book_Title', 'Author_Name'], keep='first')
allBooks['Book_Title'].value_counts()

Destroyer                      6
Warrior                        6
Aftermath                      5
Claimed                        5
Exodus                         5
                              ..
The Melancholy of Mechagirl    1
Rise of the Alliance           1
Triumphant                     1
The Reapers are the Angels     1
The Electric Sheep Massacre    1
Name: Book_Title, Length: 10706, dtype: int64

In [11]:
allBooks.head()

,Book_Title,Original_Book_Title,Author_Name,Edition_Language,Rating_score,Rating_votes,Review_number,Book_Description,Year_published,Genres,url,subgenre
0,Obsidian,Obsidian,Jennifer L. Armentrout,English,4.17,236780,18161,Starting over sucks When we moved to West Virg...,2011,"{'Young Adult': 3439, 'Fantasy (Paranormal) ':...",https://www.goodreads.com/book/show/12578077-o...,sf_aliens
1,Onyx,Onyx,Jennifer L. Armentrout,English,4.27,153429,10497,BEING CONNECTED TO DAEMON BLACK SUCKSâ€¦ Thanks ...,2012,"{'Young Adult': 2271, 'Fantasy (Paranormal) ':...",https://www.goodreads.com/book/show/13047090-onyx,sf_aliens
2,The 5th Wave,The 5th Wave,Rick Yancey,English,4.03,400600,29990,After the 1st wave only darkness remains Aft...,2013,"{'Young Adult': 5436, 'Science Fiction': 3327,...",https://www.goodreads.com/book/show/16101128-t...,sf_aliens
3,The Host,The Host,Stephenie Meyer,English,3.84,915026,41673,Melanie Stryder refuses to fade away The eart...,2008,"{'Young Adult': 4529, 'Science Fiction': 4285,...",https://www.goodreads.com/book/show/1656001.Th...,sf_aliens
4,Opal,Opal,Jennifer L. Armentrout,None,4.27,129006,9463,No one is like Daemon Black When he set out to...,2012,"{'Young Adult': 1855, 'Fantasy (Paranormal) ':...",https://www.goodreads.com/book/show/13362536-opal,sf_aliens

In [12]:
BookData = allBooks[['Book_Title', 'Rating_score', 'Rating_votes','Book_Description','subgenre']].copy()

In [13]:
BookData['Book_Description'].head()

0    Starting over sucks When we moved to West Virg...
1    BEING CONNECTED TO DAEMON BLACK SUCKSâ€¦ Thanks ...
2    After the 1st wave  only darkness remains  Aft...
3    Melanie Stryder refuses to fade away  The eart...
4    No one is like Daemon Black When he set out to...
Name: Book_Description, dtype: object

In [14]:
BookData.to_csv('BookList.csv', header='column_names')