# Scifi Book Data Collection

In [ ]:
import os
import requests
import json
import pandas as pd
import numpy as np
import pprint as pp

In [2]:
# # Import SQLAlchemy `automap` and other dependencies here
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, inspect, func, MetaData,Table, Column, Integer, String
# from sqlalchemy.ext.declarative import declarative_base
# Base = declarative_base()

Get all the files and combine

In [3]:
# get a list of the data files stored in a directory
from os import listdir
from os.path import isfile, join

mypath = ("./Resources")
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles

['sf_aliens.csv',
 'sf_alternate_history.csv',
 'sf_alternate_universe.csv',
 'sf_apocalyptic.csv',
 'sf_cyberpunk.csv',
 'sf_dystopia.csv',
 'sf_hard.csv',
 'sf_military.csv',
 'sf_robots.csv',
 'sf_space_opera.csv',
 'sf_steampunk.csv',
 'sf_time_travel.csv']

In [8]:
names_df = pd.read_csv("names_data.csv")

In [9]:
names_df.head()

       name gender
0     Linda      F
1      Mary      F
2  Patricia      F
3   Barbara      F
4     Susan      F

In [4]:
book_df = pd.read_csv(mypath+'/'+onlyfiles[0])

In [5]:
list(book_df.columns.values.tolist())

['Book_Title',
 'Original_Book_Title',
 'Author_Name',
 'Edition_Language',
 'Rating_score',
 'Rating_votes',
 'Review_number',
 'Book_Description',
 'Year_published',
 'Genres',
 'url']

In [6]:
allBooks = pd.DataFrame(columns = list(book_df.columns.values.tolist()))
allBooks.head()

Empty DataFrame
Columns: [Book_Title, Original_Book_Title, Author_Name, Edition_Language, Rating_score, Rating_votes, Review_number, Book_Description, Year_published, Genres, url]
Index: []

In [ ]:
inputFileDir = "./Resources/"
spec_chars = ["!",'"',"#","%","&","(",")","'",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]

for file in (onlyfiles):
    currFilePath = inputFileDir + file
    subGenre = file.split('.')[0]
    print(subGenre)
    book_df = pd.read_csv(currFilePath)
    #append column of subgenre
    book_df['subgenre'] = subGenre   
    #book_df['Book_Description'] = book_df['Book_Description'].str.replace(',', ' ')
    for char in spec_chars:
        book_df['Book_Description']  = book_df['Book_Description'] .str.replace(char, ' ')
    allBooks = allBooks.append(book_df)

In [ ]:
allBooks.count()
allBooks = allBooks[allBooks['Edition_Language'] == "English"]
allBooks['Edition_Language'].value_counts()

In [ ]:
allBooks = allBooks.drop_duplicates(subset=['Book_Title', 'Author_Name'], keep='first')
allBooks['Book_Title'].value_counts()

In [ ]:
allBooks.head()

In [ ]:
BookData = allBooks[['Book_Title', 'Rating_score', 'Rating_votes','Book_Description','subgenre']].copy()

In [ ]:
BookData['Book_Description'].head()

In [ ]:
BookData.to_csv('BookList.csv', header='column_names')