# Scifi Book Data Collection

In [1]:
import os
import requests
import json
import pandas as pd
import numpy as np
import pprint as pp

In [2]:
# # Import SQLAlchemy `automap` and other dependencies here
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, inspect, func, MetaData,Table, Column, Integer, String
# from sqlalchemy.ext.declarative import declarative_base
# Base = declarative_base()

Get all the files and combine

In [3]:
# get a list of the data files stored in a directory
from os import listdir
from os.path import isfile, join

mypath = ("./Resources")
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfiles

['sf_aliens.csv',
 'sf_alternate_history.csv',
 'sf_alternate_universe.csv',
 'sf_apocalyptic.csv',
 'sf_cyberpunk.csv',
 'sf_dystopia.csv',
 'sf_hard.csv',
 'sf_military.csv',
 'sf_robots.csv',
 'sf_space_opera.csv',
 'sf_steampunk.csv',
 'sf_time_travel.csv']

In [4]:
names_df = pd.read_csv("names_data.csv")

In [5]:
names_df.head()

       name gender
0     Linda      F
1      Mary      F
2  Patricia      F
3   Barbara      F
4     Susan      F

In [6]:
book_df = pd.read_csv(mypath+'/'+onlyfiles[0])

In [7]:
list(book_df.columns.values.tolist())

['Book_Title',
 'Original_Book_Title',
 'Author_Name',
 'Edition_Language',
 'Rating_score',
 'Rating_votes',
 'Review_number',
 'Book_Description',
 'Year_published',
 'Genres',
 'url']

In [8]:
allBooks = pd.DataFrame(columns = list(book_df.columns.values.tolist()))
allBooks.head()

Empty DataFrame
Columns: [Book_Title, Original_Book_Title, Author_Name, Edition_Language, Rating_score, Rating_votes, Review_number, Book_Description, Year_published, Genres, url]
Index: []

In [9]:
inputFileDir = "./Resources/"
spec_chars1 = ["!",'"',"#","%","&","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]
spec_chars2 = ["'","\n","\t"]
for file in (onlyfiles):
    currFilePath = inputFileDir + file
    subGenre = file.split('.')[0]
    print(subGenre)
    book_df = pd.read_csv(currFilePath)
    #append column of subgenre
    book_df['subgenre'] = subGenre   
    #book_df['Book_Description'] = book_df['Book_Description'].str.replace(',', ' ')
    for char in spec_chars1:
        book_df['Book_Description']  = book_df['Book_Description'].str.replace(char, ' ')
    for char in spec_chars2:
        book_df['Book_Description']  = book_df['Book_Description'].str.replace(char, '')      
    allBooks = allBooks.append(book_df)

sf_aliens
sf_alternate_history
sf_alternate_universe
sf_apocalyptic
sf_cyberpunk
sf_dystopia
sf_hard
sf_military
sf_robots
sf_space_opera
sf_steampunk
sf_time_travel

In [10]:
allBooks.count()
allBooks = allBooks[allBooks['Edition_Language'] == "English"]
allBooks['Edition_Language'].value_counts()

English    14026
Name: Edition_Language, dtype: int64

In [11]:
allBooks = allBooks.drop_duplicates(subset=['Book_Title', 'Author_Name'], keep='first')
allBooks['Book_Title'].value_counts()

Warrior                                      6
Exodus                                       5
Claimed                                      5
Aftermath                                    5
Destroyer                                    5
                                            ..
Crossing in Time                             1
Q                                            1
This Savage Song                             1
Distraction                                  1
The Collected Stories of Arthur C. Clarke    1
Name: Book_Title, Length: 9899, dtype: int64

In [12]:
allBooks.head()

,Book_Title,Original_Book_Title,Author_Name,Edition_Language,Rating_score,Rating_votes,Review_number,Book_Description,Year_published,Genres,url,subgenre
0,Obsidian,Obsidian,Jennifer L. Armentrout,English,4.17,236780,18161,Starting over sucks When we moved to West Virg...,2011,"{'Young Adult': 3439, 'Fantasy (Paranormal) ':...",https://www.goodreads.com/book/show/12578077-o...,sf_aliens
1,Onyx,Onyx,Jennifer L. Armentrout,English,4.27,153429,10497,BEING CONNECTED TO DAEMON BLACK SUCKSâ€¦ Thanks ...,2012,"{'Young Adult': 2271, 'Fantasy (Paranormal) ':...",https://www.goodreads.com/book/show/13047090-onyx,sf_aliens
2,The 5th Wave,The 5th Wave,Rick Yancey,English,4.03,400600,29990,After the 1st wave only darkness remains Aft...,2013,"{'Young Adult': 5436, 'Science Fiction': 3327,...",https://www.goodreads.com/book/show/16101128-t...,sf_aliens
3,The Host,The Host,Stephenie Meyer,English,3.84,915026,41673,Melanie Stryder refuses to fade away The eart...,2008,"{'Young Adult': 4529, 'Science Fiction': 4285,...",https://www.goodreads.com/book/show/1656001.Th...,sf_aliens
5,Origin,Origin,Jennifer L. Armentrout,English,4.35,93979,7660,Daemon will do anything to get Katy back After...,2013,"{'Young Adult': 1467, 'Fantasy (Paranormal) ':...",https://www.goodreads.com/book/show/13644052-o...,sf_aliens

In [13]:
BookData = allBooks[['Book_Title', 'Rating_score', 'Rating_votes','Book_Description','subgenre']].copy()

In [14]:
BookData['Book_Description'].head()

0    Starting over sucks When we moved to West Virg...
1    BEING CONNECTED TO DAEMON BLACK SUCKSâ€¦ Thanks ...
2    After the 1st wave  only darkness remains  Aft...
3    Melanie Stryder refuses to fade away  The eart...
5    Daemon will do anything to get Katy back After...
Name: Book_Description, dtype: object

In [15]:
BookData.to_csv('BookList.csv', header='column_names')